.navbar img {
    width: 1.2rem;
    margin-right: 9px;

}

.welcome {
    background: url('/contacts-app/static/img/space.png');
    background-position: center center;
    background-size: cover;
}
